.grid-widget {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px dashed #d4d3d1;
    background-color: rgba(253, 246, 236, 0.3);
  }
  /* .grid-widget:hover {
  
  }
  .grid-widget [class~='ant-col'] {
    
  } */
  .grid-widget [class~='ant-col'] > div {
    /* background: #00a0e9; */
    border: 1px dashed hsla(0, 0%, 66.7%, 0.5);
    min-height: 48px;
    text-align: center;
    /* height: 120px;
    line-height: 120px; */
    font-size: 13px;
    background-color: rgba(236, 245, 255, 0.3);
  }